@model EDS.MVC.ViewModels.LivroViewModel

@{
    Layout = null;
    ViewBag.Title = "Detalhe do Livro";
}

<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Detalhe do Livro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @Html.HiddenFor(model => model.LivroId)
        @Html.HiddenFor(model => model.Ativo)
        <div class="modal-body">
            <text class="text-danger">@ViewBag.Error</text>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Titulo, new { @class = "control-label col-md-3" })
                                    <div class="col-md-11">
                                        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Editora, new { @class = "control-label col-md-3" })
                                    <div class="col-md-11">
                                        @Html.TextBoxFor(model => model.Editora, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Edicao, new { @class = "control-label col-md-3" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.Edicao, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AnoPublicacao, new { @class = "control-label col-md-12" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.AnoPublicacao, new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AutorId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.AutorId, (IEnumerable<SelectListItem>)ViewBag.ddlAutor, "-- Selecione --", new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-8 col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AssuntoId, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.AssuntoId, (IEnumerable<SelectListItem>)ViewBag.ddlAssunto, "-- Selecione --", new { @class = "form-control", @disabled = "disabled" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->